% This file managed by Puppet <%= puppetversion %>
% Template Path: <%= module_name %>/templates/rabbitmq.config
[
  {rabbit, [
    {disk_free_limit, <%= disk_free_limit %>}
<% if config_cluster -%>
    ,{log_levels, [connection,debug,info,error]}
    ,{cluster_nodes, [<%= cluster_disk_nodes.map { |n| "\'rabbit@#{n}\'" }.join(', ') %>]}
<% end -%>
  ]}
<% if config_stomp -%>
  ,{rabbitmq_stomp, [
    {tcp_listeners, [<%= stomp_port %>]}
  ]}
<% end -%>
].
% EOF
