# Required for Fuel deployment
MySQL-client
MySQL-client-wsrep
MySQL-python
MySQL-server
MySQL-server-wsrep
MySQL-shared
MySQL-shared-wsrep
authconfig
autoconf
automake
avahi
bind-utils
byacc
centos-release
cirros-testvm
cluster-glue
cman
cobbler
cobbler-web
corosync
cronie
cronie-noanacron
crontabs
crmsh
curl
dhclient
dmidecode
dnsmasq-utils
euca2ools
fence-agents
flex
galera
gcc
gcc-c++
haproxy
keepalived
make
man
mcollective
mcollective-client
mcollective-common
memcached
mod_wsgi
mysql
mysql-devel
mysql-server
nagios
nrpe
nagios-plugins-*
nginx
nmap
novnc
ntp
numpy
openssh-clients
openssh-server
openssl098e
openstack-cinder
openstack-dashboard
openstack-glance
openstack-keystone
openstack-nova
openstack-nova-novncproxy
openstack-swift
openstack-swift-account
openstack-swift-container
openstack-swift-object
openstack-swift-proxy
openstack-utils
openvswitch
pacemaker
patch
policycoreutils
postgresql
postgresql-devel
postgresql-libs
postgresql-server
pssh
puppet-2.7.19
puppet-server-2.7.19-1
puppetdb
puppetdb-terminus
python-amqp
python-argparse
python-cinder
python-devel
python-keystone
python-meld3
python-novaclient
python-pip
python-setuptools
python-sqlalchemy
python-virtualenv
PyYAML
resource-agents
qemu-img
qemu-kvm
rabbitmq-server
rpm-build
rsyslog
rsyslog-relp
rsyslog-gssapi
rsyslog-snmp
rsyslog-gnutls
librelp
ruby
ruby-augeas
ruby-devel
ruby-mysql
ruby-rdoc
ruby-ri
ruby-shadow
rubygem-rake
rubygem-rest-client
rubygem-mongrel
rubygem-stomp
rubygems
scapy
screen
selinux-policy-targeted
socat
supervisor
syslinux
system-config-firewall-base
tcpdump
tempest
tftp-server
unzip
vim-enhanced
wget
xfsprogs
xinetd
yum

# Bonus RPMs Pungi thinks we need
virt-what
pciutils
libselinux-ruby

